<script>
   <% if current_user %>
      window.currentUser = {
         id: <%= current_user.id %> , 
         username: "<%= current_user.username %>"
   <%= current_user.location ? ", location: #{current_user.location}" : "" %>
     } 
   <% end %>
</script>
<div id="root"></div>