<script>
   <% if current_user %>
      window.currentUser = {
         id: current_user.id,
         username: current_user.username,
         location: current_user.location
     } 
   <% end %>
</script>
<div id="root"></div>