#home-body {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1.1rem 6rem;
}

form.home--search-container {
   display: flex;
   font-size: 1.8rem;
   width: 100%;
   align-items: center;
   justify-content: space-around;

   & div.home--main-logo {
      padding: 0 0 0.5rem 0.2rem;
      font-size: 3.7rem;
      font-weight: 500;
      letter-spacing: -0.3rem;
      text-shadow: 0 2px 0 rgba(138, 138, 138, 0.2);

      // reference: https://stackoverflow.com/a/12065925
      display: inline-block;
      -webkit-transform: scale(1.35, 1); /* Safari and Chrome */
      -moz-transform: scale(1.35, 1); /* Firefox */
      -ms-transform: scale(1.35, 1); /* IE 9 */
      -o-transform: scale(1.35, 1); /* Opera */
      transform: scale(1.35, 1);

      & span.logo-letter:nth-child(1) {
         color: #e53238;
      }

      & span.logo-letter:nth-child(2) {
         color: #0164d2;
      }

      & span.logo-letter:nth-child(3) {
         color: #f5af04;
      }

      & span.logo-letter:nth-child(4) {
         color: #86b817;
      }
   }

   & div.home--category-dropdown {
      display: flex;
      margin-left: 2rem;
      width: 7rem;
      font-size: 1.2rem;
      word-wrap: normal;
      align-items: center;

      & div.home--category-dropdown-text {
         width: 5rem;
         text-shadow: 0 1px 0 rgba(138, 138, 138, 0.2);
      }

      & i.fa-caret-down {
      }
   }

   & input[type='text'] {
      font-size: 1.6rem;
      max-width: 60%;
      flex-shrink: 4;
      flex-grow: 7;
      padding: 1rem 0 0.9rem 0.8rem;
      border-radius: 0.3rem;
      color: #767676;
      box-shadow: -0.1rem 0.1rem 0.2rem 0.1rem rgb(200, 200, 200);
   }
   & div.home--category-select-container {
      overflow: hidden;
      height: 3.7rem;
      margin: 0 0.2rem;
      border-radius: 0.3rem;
      box-shadow: -0.1rem 0.1rem 0.2rem 0.1rem rgb(200, 200, 200);
      display: flex;
      align-items: center;

      & select {
         font-size: 1.2rem;
      }
   }

   & input[type='submit'] {
      font-size: 1.5rem;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
      color: white;
      background-color: #00509d;
      height: 3.7rem;
      padding: 0 1.2rem;
      border-radius: 0.3rem;
      box-shadow: -0.1rem 0.1rem 0.2rem 0.1rem rgb(200, 200, 200);
   }

   & a {
      font-size: 1.1rem;
      text-shadow: 0 1px 0 rgba(138, 138, 138, 0.2);
   }
}

ul.home--category-links {
   display: flex;
}

div.home--banner {
   height: 5rem;
   background-color: skyblue;
   width: 100%;
}

div.home--recently-viewed-items {
   display: flex;
   padding: 1rem 0 0 0;
   position: relative;

   & span.home--recently-viewed-items-heading {
      position: absolute;
      top: -0.5rem;
   }

   & div.home--recently-viewed-item {
      & div.home--recently-viewed-item-pic {
         width: 15rem;
         height: 15rem;

         & img {
         }
      }

      & span.home--recently-viewed-item-price {
      }
   }
}
