#home-body {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0 6rem;
   width: 100%;
   max-width: 160rem;
}

form.home--search-container {
   padding-top: 1.1rem;
   display: flex;
   font-size: 1.8rem;
   width: 94%;
   align-items: center;
   justify-content: space-around;

   & div.home--main-logo {
      padding: 0 0 0.5rem 0.2rem;
      margin: 0 0.4rem 0 0rem;
      font-size: 3.7rem;
      font-weight: 500;
      letter-spacing: -0.3rem;
      text-shadow: 0 2px 0 rgba(207, 207, 207, 0.2);

      // reference: https://stackoverflow.com/a/12065925
      display: inline-block;
      -webkit-transform: scale(1.35, 1); /* Safari and Chrome */
      -moz-transform: scale(1.35, 1); /* Firefox */
      -ms-transform: scale(1.35, 1); /* IE 9 */
      -o-transform: scale(1.35, 1); /* Opera */
      transform: scale(1.35, 1);

      & span.logo-letter:nth-child(1) {
         color: #e53238;
      }

      & span.logo-letter:nth-child(2) {
         color: #0164d2;
      }

      & span.logo-letter:nth-child(3) {
         color: #f5af04;
      }

      & span.logo-letter:nth-child(4) {
         color: #86b817;
      }
   }

   & div.home--category-dropdown {
      display: flex;
      width: 7rem;
      font-size: 1.2rem;
      word-wrap: normal;
      align-items: center;
      margin: 0 0rem 0 2rem;

      & div.home--category-dropdown-text {
         width: 5rem;
         text-shadow: 0 1px 0 rgba(195, 195, 195, 0.2);
      }

      & i.fa-caret-down {
      }
   }

   & input[type='text'] {
      font-size: 1.6rem;
      flex-shrink: 4;
      flex-grow: 7;
      padding: 1rem 0 0.9rem 0.8rem;
      margin: 0 0rem 0 0.4rem;
      border-radius: 0.3rem;
      color: #767676;
      transform: translate(0rem, 0.05rem);
      box-shadow: -0.1rem 0.1rem 0.1rem 0.1rem rgb(200, 200, 200);

      transition: transform 100ms ease-out, box-shadow 100ms ease-out;
      // box-shadow: 0rem 0rem 0.1rem 0rem grey;

      &:focus {
         transform: translate(0rem, -0.1rem);
         box-shadow: -0.1rem 0.1rem 0.2rem 0.2rem rgb(200, 200, 200);
      }
   }
   & div.home--category-select-container {
      overflow: hidden;
      height: 3.7rem;
      margin: 0 0.2rem 0 0rem;
      border-radius: 0.3rem;
      box-shadow: -0.1rem 0.1rem 0.1rem 0.1rem rgb(200, 200, 200);
      display: flex;
      align-items: center;
      margin: 0 0.4rem 0 0.4rem;

      & select {
         font-size: 1.2rem;
      }
   }

   & input[type='submit'] {
      margin: 0 0.4rem 0 0.4rem;
      font-size: 1.5rem;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
      color: white;
      background-color: #0052a0;
      height: 3.7rem;
      padding: 0 1.2rem;
      border-radius: 0.3rem;

      transition: transform 100ms ease-out, box-shadow 100ms ease-out;
      // box-shadow: 0rem 0rem 0.1rem 0rem grey;
      box-shadow: -0.05rem 0.1rem 0.2rem 0.1rem rgb(200, 200, 200);

      &:hover {
         transform: translate(0.15rem, -0.2rem);
         box-shadow: -0.1rem 0.2rem 0.4rem 0.2rem rgb(200, 200, 200);
      }

      &:active {
         transform: none;
         box-shadow: none;
         transform: translate(0.05rem, -0.1rem);
         box-shadow: -0.05rem 0.15rem 0.3rem 0.15rem rgb(200, 200, 200);
      }
   }

   & a {
      margin: 0 0rem 0 0.4rem;
      font-size: 1.1rem;
      text-shadow: 0 1px 0 rgba(199, 199, 199, 0.2);
   }
}

ul.home--category-links {
   margin-top: 2.8rem;
   width: 100%;
   border-top: 1px solid #555;
   display: flex;
   justify-content: center;
   font-weight: 500;
   width: 94%;

   li {
      color: #555;
      padding: 1rem 0.4rem;
      font-size: 1.2rem;
      margin: 0 1rem;
      text-shadow: 0 1px 0 rgba(204, 204, 204, 0.2);
   }
}

div.home--banner {
   height: 33rem;
   width: 100%;
   background-size: cover;
   background-image: image-url('home-banner.png');
}

div.home--recently-viewed-items {
   margin-top: 2.2rem;
   display: flex;
   justify-content: space-around;
   width: 100%;
   padding: 1rem 0 0 0;
   position: relative;

   & span.home--recently-viewed-items-heading {
      position: absolute;
      top: -1.1rem;
      font-size: 1.4rem;
   }

   & div.home--recently-viewed-item {
      width: 13%;
      height: auto;
      margin: 0 0.5rem;

      & div.home--recently-viewed-item-pic {
         & img {
            border-radius: 0.2rem;
         }
      }

      & span.home--recently-viewed-item-price {
         font-size: 1.7rem;
         font-weight: 500;
      }
   }
}

div.home--category-bars {
   display: flex;
   margin-top: 3.5rem;
   justify-content: center;
   flex-wrap: wrap;
   width: 99%;

   & div.home--category-bar-item {
      padding: 0.5rem;
      height: 4.2rem;
      width: 29vw;
      min-width: 29rem;
      margin: 0.7rem 0.35rem 0 0.35rem;
      background-color: #86b817;
      border-radius: 0.2rem;
      font-size: 1.5rem;
   }
}
