div#product-details-root {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   height: auto;
   background-color: #f6f6f6;
   padding-bottom: 20rem;

   & > * {
      max-width: 150rem;
      z-index: 1;
   }

   & #nav-bar {
      z-index: 1;
      box-sizing: border-box;
      align-self: center;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100vw;
      max-width: none;
      padding: 1rem 6rem;
      background-color: white;
      box-shadow: 0 0 1rem rgb(168, 168, 168);

      & ul.center-nav-bar-spreader {
         flex-shrink: 1;
         width: 20%;
         background-color: blue;
      }

      & .left-nav-bar,
      & .right-nav-bar {
         display: flex;
         flex-shrink: 0;

         & .nav-bar--links {
            font-size: 1.2rem;
            padding: 0 1.2rem;
            height: 2rem;
            position: relative;
            display: flex;
            align-items: center;

            & span.nav-username {
               align-self: flex-start;
               padding: 0.2rem 0.1rem 0 0.2rem;
               margin: 0 0 0 0.2rem;
            }

            & .fa-caret-down {
               font-size: 3rem;
               transform: translateX(0.2rem) translateY(-0.1rem);
            }

            & .nav--dropdown-cover {
               height: 2rem;
               width: 100%;
               position: absolute;
               transform: translateY(100%);
            }

            & ul.nav--user-dropdown {
               z-index: 10;
               position: absolute;
               width: 150%;
               transform: translateY(65%);
               background-color: white;
               padding: 0;
               display: flex;
               flex-direction: column;
               align-items: center;
               // top: 2rem;
               border: 1px solid rgb(209, 209, 209);
               box-shadow: 0 0 0.2rem rgb(168, 168, 168);
               border-radius: 0.5rem;
               transition: opacity 0.3s, height 0.1s;
               overflow: hidden;

               & li.nav--user-dropdown-item {
                  border-left: none;
                  height: 4rem;
                  width: 90%;
                  display: flex;
                  align-items: center;

                  &.user-profile-pic {
                     height: 7rem;
                     display: flex;

                     & div.user-profile-pic {
                        flex-grow: 0;
                        padding: 0.5rem 0;
                        height: 4rem;
                        width: 4rem;
                        background-size: contain;
                        background-image: url('https://s3-us-west-1.amazonaws.com/ibuy-public/avatar.png');
                     }

                     & div.dropdown-username-stars {
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        & i {
                           margin-bottom: -1rem;
                           font-size: 1.8rem;
                           color: rgb(0, 26, 255);
                           text-shadow: 1px 1px 1px black;
                        }
                     }
                  }

                  &:not(:first-child) {
                     border-top: 1px solid black;
                  }

                  &.logout,
                  &.account-settings {
                     cursor: pointer;
                     color: #006ffc;
                  }
               }
            }

            &:not(:first-child) {
               border-left: 0.1px solid rgb(70, 70, 70);
            }

            & * {
               padding: 0 0.4rem;
            }

            & a.nav-signin,
            & a.nav-register {
               color: #0654ba;
            }

            & a:hover {
               text-decoration: underline;
               color: #0654ba;
            }
         }
      }

      & .left-nav-bar {
         & .nav-welcome {
            & .nav-username {
               padding-left: 0.1rem;
               font-weight: 500;
            }
            & .nav--logout-btn {
               color: white;
               font-weight: 500;
               background-color: rgb(104, 172, 251);
               border-radius: 0.3rem;
               margin: 0 0 0 0.5rem;
               padding: 0rem 0.3rem 0.1rem;
               box-shadow: -0rem 0rem 0.1rem 0rem gray;
            }
         }
      }

      & .right-nav-bar {
         & li.nav--bell-icon.nav-bar--links {
            border-left: 0;
            & a {
               & i {
                  padding: 0;
                  font-size: 2.7rem;
                  color: rgb(75, 75, 75);
               }
            }
         }

         & li.nav--shopping-cart-icon.nav-bar--links {
            border-left: 0;
            & a {
               & i {
                  padding: 0;
                  font-size: 2.4rem;
                  color: rgb(75, 75, 75);
               }
            }
         }
      }
   }

   & form.home--search-container {
      z-index: 2;
      padding-top: 1.1rem;
      display: flex;
      font-size: 1.8rem;
      max-width: 150rem;
      align-items: center;
      justify-content: space-around;
      box-sizing: border-box;

      & a.home--main-logo {
         padding: 0 0 0.5rem 0.2rem;
         margin: 0 0.4rem 0 0rem;
         font-size: 3.7rem;
         font-weight: 500;
         letter-spacing: -0.3rem;
         text-shadow: 0 2px 0 rgba(207, 207, 207, 0.2);

         // reference: https://stackoverflow.com/a/12065925
         display: inline-block;
         -webkit-transform: scale(1.35, 1.3); /* Safari and Chrome */
         -moz-transform: scale(1.35, 1.3); /* Firefox */
         -ms-transform: scale(1.35, 1.3); /* IE 9 */
         -o-transform: scale(1.35, 1.3); /* Opera */
         transform: scale(1.35, 1.3);

         & span.logo-letter:nth-child(1) {
            color: #e53238;
         }

         & span.logo-letter:nth-child(2) {
            color: #0164d2;
         }

         & span.logo-letter:nth-child(3) {
            color: #f5af04;
         }

         & span.logo-letter:nth-child(4) {
            color: #86b817;
         }
      }

      & div.home--category-dropdown {
         display: flex;
         width: 7rem;
         font-size: 1.2rem;
         word-wrap: normal;
         align-items: center;
         margin: 0 0rem 0 2rem;

         & div.home--category-dropdown-text {
            width: 5rem;
            text-shadow: 0 1px 0 rgba(195, 195, 195, 0.2);
         }
      }

      & input[type='text'] {
         font-size: 1.6rem;
         flex-shrink: 4;
         flex-grow: 7;
         padding: 1rem 0 0.9rem 0.8rem;
         margin: 0 0rem 0 0.4rem;
         border-radius: 0.1rem;
         color: #000000;
         transform: translate(0rem, 0.05rem);
         background-color: white;
         box-shadow: -0.1rem 0.1rem 0.1rem 0.1rem rgb(200, 200, 200);

         transition: transform 100ms ease-out, box-shadow 100ms ease-out;
         // box-shadow: 0rem 0rem 0.1rem 0rem grey;

         &:focus {
            transform: translate(0rem, -0.1rem);
            box-shadow: -0.1rem 0.1rem 0.2rem 0.2rem rgb(200, 200, 200);
         }
      }
      & div.home--category-select-container {
         overflow: hidden;
         height: 3.7rem;
         margin: 0 0.2rem 0 0rem;
         border-radius: 0.1rem;
         background-color: white;
         box-shadow: -0.1rem 0.1rem 0.1rem 0.1rem rgb(200, 200, 200);
         display: flex;
         align-items: center;
         margin: 0 0.4rem 0 0.4rem;

         & select {
            font-size: 1.2rem;
         }
      }

      & input[type='submit'] {
         margin: 0 0.4rem 0 0.4rem;
         font-size: 1.5rem;
         text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
         color: #0052a0;
         background-color: transparent;
         height: 3.7rem;
         padding: 0 1.2rem;
         border-radius: 0.3rem;

         transition: transform 100ms ease-out, box-shadow 100ms ease-out;
         // box-shadow: 0rem 0rem 0.1rem 0rem grey;
         box-shadow: -0.05rem 0.1rem 0.2rem 0.1rem rgb(200, 200, 200);

         &:hover {
            transform: translate(0.15rem, -0.2rem);
            box-shadow: -0.1rem 0.2rem 0.4rem 0.2rem rgb(200, 200, 200);
         }

         &:active {
            transform: none;
            box-shadow: none;
            transform: translate(0.05rem, -0.1rem);
            box-shadow: -0.05rem 0.15rem 0.3rem 0.15rem rgb(200, 200, 200);
         }
      }

      & a {
         margin: 0 0rem 0 0.4rem;
         font-size: 1.1rem;
         text-shadow: 0 1px 0 rgba(199, 199, 199, 0.2);
      }
   }

   & div.product-details-page-break {
      width: 100%;
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & div.left-page-break {
         display: flex;
         align-items: center;

         & span#product-details-left-chevron {
            cursor: pointer;
            background-position: -4px -119px;
            width: 24px;
            height: 24px;
            position: relative;
            margin-right: 3px;
            display: block;
            margin: 0;
            padding: 0;
            border: 0;
            font-weight: normal;
            font-size: 100%;
            background-image: url('https://s3-us-west-1.amazonaws.com/ibuy-public/sprds3_20.png');
         }

         & a.back-to-search-results {
            color: #0654ba;
            cursor: pointer;
            padding: 0 1.2rem;
            border-right: 1px solid grey;
            font-size: 1.05rem;

            &:hover {
               text-decoration: underline;
            }
         }

         & span.listed-in-category {
            padding-left: 1.8rem;
            height: 100%;
            font-size: 1.05rem;

            & a {
               margin-left: 1.2rem;
               cursor: pointer;
               color: #0654ba;

               &:hover {
                  text-decoration: underline;
               }
            }
         }
      }

      & div.right-page-break {
         display: flex;
         align-items: center;

         & span[class$='-icon'] {
            margin-left: 0.2rem;
            margin-right: 0.2rem;
         }

         & span.mail-icon {
            background-image: url('https://s3-us-west-1.amazonaws.com/ibuy-public/sprds3_20.png');
            background-position: -6px -417px;
            font-size: 100%;
            display: block;
            width: 20px;
            height: 20px;
         }

         & span.facebook-icon {
            background-image: url('https://s3-us-west-1.amazonaws.com/ibuy-public/sprds3_20.png');
            background-position: -25px -439px;
            width: 20px;
            height: 20px;
            font-size: 100%;
            display: block;
         }

         & span.twitter-icon {
            background-image: url('https://s3-us-west-1.amazonaws.com/ibuy-public/sprds3_20.png');
            width: 20px;
            height: 20px;
            background-position: -44px -439px;
            font-size: 100%;
            display: block;
         }

         & span.pintrest-icon {
            background-image: url('https://s3-us-west-1.amazonaws.com/ibuy-public/sprds3_20.png');
            width: 20px;
            height: 20px;
            background-position: -83px -439px;
            font-size: 100%;
            display: block;
         }

         & a.right-page-break-add-to-watch-list {
            display: block;
            padding: 0 0 0 1.2rem;
            font-size: 1.2rem;
            margin-left: 1.2rem;
            border-left: 1px solid rgb(46, 46, 46);
            height: auto;
            color: #0654ba;
            cursor: pointer;

            &:hover {
               text-decoration: underline;
            }
         }
      }
   }

   & div.item-details-container {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;

      // 1455 35%
      // 515
      // 640
      // 311

      & * {
         border: 1px solid rgb(177, 177, 177);
      }

      & div.item-details-image-root {
         height: 67.5rem;
         flex-grow: 1;
      }

      & div.item-details-right-container {
         display: flex;
         flex-wrap: wrap;
         flex-grow: 2;

         & div.item-details-payment-root {
            height: 67.5rem;
         }

         & div.item-details-owner-root {
            align-self: flex-start;
            height: auto;
         }
      }
   }
}
