div.css-1eitjko {
   margin: 10rem auto;
   width: 100%;
   display: flex;
   justify-content: center;
   & div.css-9lbbyq {
      background-color: #86b817;
      z-index: 1;
   }

   & div.css-k8mq63 {
      background-color: #e53238;
      z-index: 2;
   }

   & div.css-5gifvk {
      background-color: #0164d2;
      z-index: 3;
   }

   & div.css-199r4qi {
      background-color: #f5af04;
      z-index: 3;
   }

   & div.css-3ufyd5 {
      background-color: #86b817;
      z-index: 2;
   }

   & div.css-1bd50wa {
      background-color: #e53238;
      z-index: 1;
   }
}
