@keyframes appearAndZoomIn {
   0% {
      opacity: 0;
      transform: scale(0.5);
   }
   100% {
      opacity: 100%;
      transform: scale(1);
   }
}

@keyframes slowAppearance {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 100%;
   }
}

.nav-bar {
   display: flex;
   justify-content: space-between;
   padding: 1rem 6rem;
   box-shadow: 0 0 1rem rgb(168, 168, 168);
}

.left-nav-bar,
.right-nav-bar {
   display: flex;
}

.left-nav-bar li,
.right-nav-bar li {
   font-size: 1.2rem;
   padding: 0 1.2rem;
   &:not(:first-child) {
      border-left: 0.1px solid rgb(70, 70, 70);
   }

   & * {
      padding: 0 0.4rem;
   }

   & a {
      color: #0654ba;
   }

   & a:hover {
      text-decoration: underline;
      color: #0654ba;
   }
}

.session--form {
   display: flex;
   flex-direction: column;

   & .session--form-header {
      margin: 2.3rem 0 4rem;
      padding: 0 2.5rem;
      display: flex;
      height: auto;
      font-size: 1.6rem;
      font-weight: 400;

      justify-content: space-between;

      & .form--home-logo {
         margin-bottom: 0.5rem;

         & a {
            padding-left: 0.7rem;
            font-size: 3.2rem;
            font-weight: 500;
            letter-spacing: -0.2rem;

            // reference: https://stackoverflow.com/a/12065925
            display: inline-block;
            -webkit-transform: scale(1.5, 1); /* Safari and Chrome */
            -moz-transform: scale(1.5, 1); /* Firefox */
            -ms-transform: scale(1.5, 1); /* IE 9 */
            -o-transform: scale(1.5, 1); /* Opera */
            transform: scale(1.5, 1);

            & span:nth-child(1) {
               color: #e53238;
            }

            & span:nth-child(2) {
               color: #0164d2;
            }

            & span:nth-child(3) {
               color: #f5af04;
            }

            & span:nth-child(4) {
               color: #86b817;
            }
         }
      }
      & .form--options {
         display: flex;
         align-items: center;

         & a {
            margin-left: 0.6rem;
            color: #0654ba;
            text-decoration: underline;
         }
      }
   }

   & .session--form-h {
      display: flex;
      flex-direction: column;
      align-items: center;

      & h1 {
         font-size: 3.6rem;
         font-weight: 700;
         animation: 0.4s ease-out 0s 1 appearAndZoomIn;
      }

      & h4 {
         font-size: 1.4rem;

         & span {
            text-decoration: underline;
            color: #006ffc;
         }
      }
   }

   & .session--form-body {
      margin: 3.2rem 0 11vh 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1.6rem;

      & form.session-form {
         width: 30rem;
         font-size: 1.7rem;
         color: #767676;
         animation: 0.4s ease-out 0s 1 appearAndZoomIn;

         & .session--form-disclaimer {
            font-size: 1.2rem;

            & a {
               padding-left: 0.3rem;
            }
         }

         & div[class*='-container'] {
            margin: 5.5rem 0 0 0;
         }

         & div.session--form-disclaimer {
            margin: 2rem 0 1rem 0;
         }

         & input {
            width: 100%;
         }

         & input:not([type='submit']) {
            border-bottom: 1px solid black;
         }

         & div.username-input-container {
            position: relative;

            & label.session-form-username-label {
               display: block;
               position: absolute;
               transition: transform 300ms ease-out, font-size 300ms ease-out;
               transform: translateY(0);
               top: 0.4rem;
               cursor: text;
            }

            & input[name='username'] {
               background-color: transparent;
               z-index: 2;
               display: inline-block;
               padding: 0.3rem;
               color: rgb(31, 31, 31);
            }

            // reference: https://css-tricks.com/float-labels-css/
            & input[name='username']:focus + label,
            & input[name='username']:valid + label {
               transform: translateY(-2.2rem);
               font-size: 1.2rem;
            }
         }

         & div.password-input-container {
            position: relative;

            & label.session-form-password-label {
               display: block;
               position: absolute;
               transition: transform 300ms ease-out, font-size 300ms ease-out;
               transform: translateY(0);
               top: 0.4rem;
               cursor: text;
            }

            & input[name='password'] {
               background-color: transparent;
               z-index: 2;
               display: inline-block;
               padding: 0.3rem;
               color: rgb(31, 31, 31);
            }

            & input[name='password']:focus + label,
            & input[name='password']:valid + label {
               transform: translateY(-2.2rem);
               font-size: 1.2rem;
            }
         }
         & div.confirm-password-input-container {
            position: relative;

            & label.session-form-confirm-password-label {
               display: block;
               position: absolute;
               transition: transform 300ms ease-out, font-size 300ms ease-out;
               transform: translateY(0);
               top: 0.4rem;
               cursor: text;
            }

            & input[name='confirm-password'] {
               background-color: transparent;
               z-index: 2;
               display: inline-block;
               padding: 0.3rem;
               color: rgb(31, 31, 31);
            }

            & input[name='confirm-password']:focus + label,
            & input[name='confirm-password']:valid + label {
               transform: translateY(-2.2rem);
               font-size: 1.2rem;
            }
         }
         & div.session--form-disclaimer {
            & a {
               text-decoration: underline;
               color: #006ffc;
            }
         }

         & input[type='submit'] {
            border-radius: 1px;
            padding: 0.8rem 0;
            background-color: #006ffc;
            color: white;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
         }
      }

      & .session--form-body-separator {
         width: 100%;
         max-width: 17.4rem;
         height: 40rem;
         position: relative;

         & .session--form-vert-line {
            height: 100%;
            width: 0.1rem;
            background-color: #ccc;
            margin: 0 auto;
            animation: 7s ease-out 0s 1 slowAppearance;
         }

         @keyframes slideInFromBottom {
            0% {
               transform: translateY(15rem);
            }
            100% {
               transform: translateY(0);
            }
         }

         & .session--form-body-or {
            position: absolute;
            width: 100%;
            text-align: center;
            display: block;
            z-index: 2;
            top: 48%;
            font-size: 1.4rem;
            background-color: white;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            animation: 0.5s ease-out 0s 1 slideInFromBottom;
         }
      }

      & .session--form-companies {
         width: 30rem;
         display: flex;
         flex-direction: column;

         & .session--form-companies-fb,
         & .session--form-companies-goo {
            display: flex;
            height: 4.8rem;
            font-size: 1.9rem;
            font-weight: 700;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            animation: 0.4s ease-out 0s 1 appearAndZoomIn;

            & .fb-button-label {
               margin-left: 1rem;
            }

            & .fa-google-plus-square {
               font-size: 1.2em;
            }

            & .goo-button-label {
               margin-left: 1rem;
            }
         }

         & .session--form-companies-fb {
            background-color: #0164d2;
            color: white;

            & .fa-facebook {
               font-size: 1.2em;
            }
         }

         & .session--form-companies-goo {
            margin: 1.4rem 0 0 0;
            color: black;
            background-color: white;
            border: 1px solid black;

            & .session--form-goo-logo {
               width: 1.4em;
               height: 1.4em;
               background-size: contain;
               background-image: url('/assets/google-logo.png');
            }
         }
      }
   }

   & .session--form-footer {
      position: fixed;
      height: 9vh;
      width: 100vw;
      bottom: 0;
      border-top: 1px solid rgb(185, 185, 185);
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background-color: white;

      & p {
         font-size: 1.1rem;
         position: absolute;
         bottom: 25%;

         & a {
            text-decoration: underline;
            color: #0654ba;
         }
      }
   }
}
